[user]
	name = pmbittner
	email = paul.bittner@uni-ulm.de
[core]
	autocrlf = input
        editor = vim
[init]
	defaultBranch = main
[pager]
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
